.navbar-center {
  text-align: center;
  color: snow;
}

.navbar {
  text-align: center;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  overflow: hidden;
  background: darkblue !important;
}

.jumbotron {
  text-align: center;
  padding-bottom: 10px;
  background: #496FC4;
  color: snow;
}

img {
  height: 180px;
  width: 180px;
  margin: 10px;
  border: 10px solid black;
  /*background: cornsilk;*/
}

img:hover {
  border: 5px solid darkblue;
}

.scoreBorder {
  border: 1px solid snow;
  margin-right: 2px;
}


/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
